* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: bigblueterminal;
    font-size: 13px;
}

window#waybar{
    all:unset;
}
.modules-left {
    padding:7px;
    margin:10 0 5 10;
    border-radius:10px;
    background: rgba(43, 48, 59, 0.5);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-center {
    padding:7px;
    margin:10 0 5 0;
    border-radius:10px;
    background: rgba(43, 48, 59, 0.5);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-right {
    padding:7px;
    margin: 10 10 5 0;
    border-radius:10px;
    background: rgba(43, 48, 59, 0.5);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
window#waybar.hidden {
    opacity: 0.2;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}


#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


/*
#battery {
    background-color: #ffffff;
    color: #000000;
}
#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}
*/

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
 */

label:focus {
    background-color: #000000;
}

