
/* Max V Starboy*/

@define-color darkBurgendy #180803;
@define-color burgendy #57140C;
@define-color burgendyRed #9D0F01;
@define-color red #BE2110;
@define-color mustard #A75B0D;
@define-color yellow #FA931A;
